@import "../../assets/styles/styles.scss";
.button-style {
  color: $accent-colour;
  height: 20px;
  width: 150px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}
