.button-style {
  color: rgb(10, 129, 123);
  height: 20px;
  width: 150px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}
