@import "../../assets/styles/styles.scss";
.filter-by {
  font-size: 1.5rem;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  font-family: $title-font;
}
