.nav-section {
  color: rgb(255, 255, 255);
  padding: 20px;
  background-color: rgb(24, 90, 110);
  max-width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
}
