.main-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px 10px;
  margin: 10px;
  width: 100%;
  background-color: rgb(124, 124, 119);
}
