@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Oswald&display=swap");
$accent-colour: rgb(10, 129, 123);
$second-accent-colour: rgb(24, 90, 110);
$main-colour: rgb(160, 159, 150);
$darker-main-colour: rgb(124, 124, 119);
$title-font: "Oswald", "Impact", sans-serif;
$body-text: "Nunito Sans", "Veranda", sans-serif;
